.dermaroller-section{
    .derma-bg{
        background: linear-gradient(90deg, rgba(45,69,102,1) 0%, rgba(100,164,255,1) 77%);
        height: 1.5rem;
    }
    .derma-title{
        font: 2.5rem $main-font;
        color: $fifth-blue;
        font-weight: 700;
        padding-top: 2rem;
        text-align: center;
    }
    .derma-subtitle{
        padding: 2rem .5rem 3rem .5rem;
        color: $second-blue;
        font: 1.5rem $main-font;
        text-align: center;
        font-weight: 600;
    }
    .img-derma-container{
        display: flex;
        justify-content: center;
        img{
            width: 75vw;
            height: 13rem;
        }
    }
    .text-derma{
        text-align: center;
        font: 1rem $main-font;
        padding: 2rem 1rem 3rem 1rem;
        font-weight: 400;
    }
    .gradient-line{
        height: .5rem;
        width: 70vw;
        background: linear-gradient(269.84deg, #2072E6 27.23%, #2D4566 63.87%);
        margin: auto;
        border-radius: .2rem;
    }
    .cm-derma-title{
        color: $second-blue;
        font: 1.5rem $main-font;
        font-weight: 600;
        text-align: center;
        padding: 2rem 0rem 3rem 0rem ;
    }
    ul{
        font: 1rem $main-font;
        font-weight: 500;
        line-height: 1.5rem;
        text-align: center;
        li{
            padding: 1.5rem 2rem 1.5rem 2rem ;
        }
    }
    .alguma-duvida{
        font: 1.5rem $main-font;
        font-weight: 600;
        color: $second-blue;
        text-align: center;
        padding: 5rem 0 2rem 0;
    }
    .alguma-duvida-text{
        font: 1rem $main-font;
        font-weight: 500;
        text-align: center;
        padding: 0 1rem;
    }
    .box-zap-container{
        width: 80vw;
        height: 3.25rem;
        background-color: $fifth-blue;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4rem auto 8rem auto;
        .box-zap-text{
            font: 1.25rem $main-font;
            font-weight: 600;
            color: $main-blue;
        }
    }
}